@model ProyectoDBP_TIENDA.Models.TbUsuario
@* 
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html Lang="en">
<head>
    <link rel="stylesheet" href="~/css/Formulario.css" />
</head>
<h1>AGREGAR USUARIO</h1>
<body>
    <div class="box">
        <form asp-controller="Usuario" asp-action="Grabar" method="post">
            <!--usuario-->
            <div class="form-group">
                <label for="formGroupExampleInput2">Usuario</label>
                <input asp-for="IdUsu" class="form-control" id="formGroupExampleInput2" placeholder="Usuario">
                <span asp-validation-for="IdUsu" class="text-danger"></span>
            </div>
            <!--contraseña-->
            <div class="form-group">
                <label for="formGroupExampleInput2">Contraseña</label>
                <input asp-for="ContraUsu" class="form-control" id="formGroupExampleInput2" placeholder="Contraseña">
                <span asp-validation-for="ContraUsu" class="text-danger"></span>
            </div>
            <!--BOTON-->
            <div class="form-group">
                <button type="submit" class="btn btn-primary" value="btn" name="grabar" data-toggle="modal" data-target="#exampleModal">Grabar</button>
            </div>

    </form>
    </div>

</body>
</html>