@model ProyectoDBP_TIENDA.Models.TbUsuario
@* 
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html Lang="en">
<head>
    <meta charset="UFT-8">
    <title>Validar</title>
    <link rel="stylesheet" type="text/css" href="~/css/validar.css">

</head>
<body>
    <div class="box">
        <span class="border"></span>
    <form asp-controller="Usuario" asp-action="Grabar" method="post">
        <!--Contraseña-->
            <h2>Crear Usuario </h2>
            <div class="inputBox">
                <input asp-for="IdUsu" type="text" placeholder="Usuario">
                <span asp-validation-for="IdUsu"></span>
                <i></i>
            </div>
            <div class="inputBox">
                <input asp-for="ContraUsu" type="password" placeholder="Contraseña">
                <span asp-validation-for="ContraUsu"></span>
                <i></i>
            </div>
        <!--BOTON-->
            <input type="submit" style="--clr:#fbff00" value="Grabar" aria-hidden="true">

    </form>
    </div>

</body>
</html>