
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222; /* Color de fondo oscuro */
    color: #fff; /* Color del texto */
    margin: 20px; /* Márgenes */
}

h1 {
    color: #3498db; /* Color del encabezado h1 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Márgenes superiores de la tabla */
    opacity: 0;
    animation: fadeIn 1s forwards;
}

th, td {
    border: 1px solid #3498db; /* Color del borde de las celdas */
    padding: 15px; /* Espaciado interno de las celdas */
    text-align: left;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

th {
    background-color: #2980b9; /* Color de fondo del encabezado de la tabla */
    color: #fff; /* Color del texto del encabezado de la tabla */
}

tr:nth-child(even) {
    background-color: #2c3e50; /* Color de fondo de las filas pares */
}

input {
    width: 50px; /* Ancho del campo de entrada de cantidad */
    padding: 8px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #3498db; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none; /* Quita el subrayado del texto */
    padding: 15px 25px; /* Espaciado interno del botón */
    border-radius: 5px; /* Bordes redondeados */
    display: inline-block;
    margin-top: 20px; /* Márgenes superiores del botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
    opacity: 0;
    animation: fadeIn 1s forwards;
}

    .btn-primary:hover {
        background-color: #2980b9; /* Cambio de color al pasar el ratón sobre el botón */
    }

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    td {
        text-align: center;
    }

    input {
        width: 100%;
        margin-top: 10px;
    }
}

