* {
    font-family: 'calibri';
}

html,
body {
    height: 100%;
}

body {
    
    background: #2c3e50;
    font-family: Arial;
    font-weight: 100;
}

.container {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
}


table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 7px 13px 37px #000;
}

h1, h2 {
    margin-bottom: 10px;
    color: #fff;
}
* {
    font-family: 'calibri';
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #2c3e50;
    font-family: Arial;
    font-weight: 100;
}

.container {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
}


table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 7px 13px 37px #000;
}

h1, h2 {
    margin-bottom: 10px;
    color: #fff;
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
* {
    font-family: 'calibri';
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #2c3e50;
    font-family: Arial;
    font-weight: 100;
}

.container {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
}


table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 7px 13px 37px #000;
}

h1, h2 {
    margin-bottom: 10px;
    color: #fff;
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead {
    th

{
    background-color: #55608f;
}

}

tbody {
    background-color: rgba(255, 255, 255, 0.3);
}



td {
    position: relative;
    &:hover

{
    &:before

{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: #34495e;
    z-index: -1;
}
input {
    background-color: #0e0eae;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}