@model ProyectoDBP_TIENDA.Models.TbAdmin
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html Lang="en">
<head>
    <meta charset="UFT-8">
    <title>Login Admin</title>
    <link rel="stylesheet" type="text/css" href="~/css/loginAdmin.css">

</head>

<body>
    <div class="box">
        <span class="border"></span>
        <form asp-controller="Admin" asp-action="Validar" method="post">
            <h2>Inicie Sesión Admin</h2>

            <!----------------------------------SIGN IN------------------------------------------->

            <div class="inputBox">
                <span>Nombre de Admin</span>
                <input asp-for="CodAdmin" type="text" id="Nombre de Admin" />
                <i></i>
            </div>

            <!----------------------------------CONTRASEÑA------------------------------------------->
            <div class="inputBox">
                <span>Contraseña</span>
                <input asp-for="PassAdmin" type="password" id="Contraseña" />
                <i></i>
            </div>

            <!------------------------------LINKS OLVIDO CONTRASEÑA/ REGISTRATE----------------------->
            <!------------------------------BOTON ENTRAR------------------------------------------->
            <input type="submit" style="--clr:#fbff00" value="Entrar" aria-hidden="true">

        </form>
    </div> <!-- /box -->
</body>
</html>
