@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en">
<head>

    <title>TIENDITA UCHILL</title>
    <link rel="stylesheet" type="text/css" href="~/css/ProductoPrincipal.css">

</head>
    <body>
    <header>

        <div class="logo">
            <img src="/css/uchillLogo.jpeg" width="150">
        </div>



        <nav>
            <div class="menu">
                <h1 class="display-4 fw-bolder">TIENDITA UCHILL</h1>
                <p class="lead fw-normal">Disfruta mientras luchas contra el ciclo!</p>

            </div>
        </nav>
    </header>

    <h2>NOSOTROS</h2>

    <h6>
        Bienvenido a UCHILL, tu destino para productos de alta calidad que hacen que tu vida sea más cómoda y elegante. En UCHILL, nos enorgullece ofrecer una cuidada selección de productos diseñados para mejorar tu día a día.
    </h6>

    <h6>
        Nuestra Misión:
        En UCHILL, nuestra misión es proporcionar a nuestros clientes productos que combinen estilo, funcionalidad y durabilidad. Nos esforzamos por crear una experiencia de compra en línea fácil y agradable, respaldada por un servicio al cliente excepcional.
    </h6>

    <h6>
        Nuestros Productos:
        Explora nuestra gama de productos cuidadosamente seleccionados, desde artículos para el hogar hasta accesorios de moda, todos elegidos con el compromiso de brindar calidad y estilo a tu vida. En UCHILL, creemos que los pequeños detalles marcan la diferencia, y cada producto que ofrecemos ha sido seleccionado con ese principio en mente.
    </h6>

    <h6>
        Calidad Garantizada:
        Nos asociamos con marcas y fabricantes de confianza para garantizar que cada producto que vendemos cumpla con nuestros estándares de calidad. En UCHILL, nos esforzamos por superar tus expectativas y ofrecer productos que resistirán la prueba del tiempo.
    </h6>

    <h6>
        Compromiso con la Satisfacción del Cliente:
        La satisfacción del cliente es nuestra máxima prioridad. Estamos aquí para ayudarte en cada paso del camino, desde la selección de productos hasta la entrega y más allá. Si alguna vez tienes alguna pregunta o inquietud, nuestro equipo de servicio al cliente está listo para ayudarte.
    </h6>

    <h6>
        Conéctate con UCHILL:
        Mantente al tanto de las últimas novedades, ofertas exclusivas y actualizaciones de productos siguiéndonos en nuestras redes sociales. Queremos que formes parte de la comunidad UCHILL y compartas tus experiencias con nosotros.
    </h6>
        
    <h6>
        ¡Gracias por elegir UCHILL! Estamos emocionados de ser parte de tu vida y esperamos que disfrutes de tus compras con nosotros. Siempre estamos trabajando para mejorar y ofrecer la mejor experiencia posible.
    </h6>

    </body>
</html>
