@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en">
<head>

    <title>TIENDITA UCHILL</title>
    <link rel="stylesheet" type="text/css" href="~/css/ProductoPrincipal.css">

</head>
    <body>
    <header>

        <div class="logo">
            <img src="/css/uchillLogo.jpeg" width="150">
        </div>



        <nav>
            <div class="menu">
                <h1 class="display-4 fw-bolder">TIENDITA UCHILL</h1>
                <p class="lead fw-normal">Disfruta mientras luchas contra el ciclo!</p>

            </div>
        </nav>
    </header>
    <h2>TÉRMINOS Y CONDICIONES</h2>
    <h6>
        1. Aceptación de Términos:
        Al acceder y utilizar este sitio web, aceptas cumplir con estos términos y condiciones. Si no estás de acuerdo con alguno de los términos, por favor, no utilices nuestro sitio.
    </h6>

    <h6>
        2. Productos y Servicios:
        Nos reservamos el derecho de cambiar cualquier aspecto de nuestros productos y servicios, incluyendo precios, disponibilidad y especificaciones, en cualquier momento sin previo aviso.
    </h6>

    <h6>
        3. Pedidos y Pago:
        Los pedidos están sujetos a disponibilidad y confirmación del pago. Nos reservamos el derecho de cancelar cualquier pedido por cualquier motivo. Los precios están sujetos a cambios sin previo aviso.
    </h6>

    <h6>
        4. Envío y Entrega:
        Los tiempos de envío y entrega son estimados y pueden variar según la ubicación. No nos hacemos responsables de los retrasos causados por eventos fuera de nuestro control.
    </h6>

    <h6>
        5. Devoluciones y Reembolsos:
        Consulta nuestra política de devoluciones para obtener información detallada sobre cómo manejar devoluciones y reembolsos.
    </h6>

    <h6>
        6. Privacidad:
        Tu privacidad es importante para nosotros. Consulta nuestra política de privacidad para comprender cómo recopilamos, utilizamos y protegemos tu información personal.
    </h6>

    <h6>
        7. Propiedad Intelectual:
        Todo el contenido de este sitio web es propiedad de UCHILL. No está permitido copiar, reproducir o utilizar dicho contenido sin autorización.
    </h6>

    <h6>
        8. Limitación de Responsabilidad
        No nos hacemos responsables de cualquier daño directo, indirecto, incidental, especial o consecuente que pueda surgir del uso de nuestros productos o servicios.
    </h6>

    <h6>
        9. Ley Aplicable:
        Estos términos y condiciones se rigen por las leyes del Perú y cualquier disputa estará sujeta a la jurisdicción de los tribunales de Lima.
    </h6>

    <h6>
        10. Cambios en los Términos:
        Nos reservamos el derecho de modificar estos términos en cualquier momento. Los cambios entrarán en vigencia inmediatamente después de su publicación en el sitio.
    </h6>
    </body>
</html>